/* src/styles/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.form-container, .home-container {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}


.spinner {
  border: 16px solid #f3f3f3; /* Light gray */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
  background: linear-gradient(to bottom, #ff99ff 0%, #66ccff 100%);
  color: #333;
}

header {
  /* background: white; */
  color: black;
  padding: 20px;
  text-align: center;
  /* position: fixed; */

}

section {
  margin: 20px;
  padding: 20px;
  /* background: #fff; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background: black;
  color: white;
  width: 100%;
  bottom: 0;
  /* margin-top: 10px; */
}



.social-media-icons {
  display: flex;
  gap: 15px; /* Space between icons */
  justify-content: center; /* Center the icons */
  margin-top: 20px; /* Add some margin */
  background: black;
}

.social-media-icons a {
  color: white; /* Default color */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.social-media-icons a:hover {
  color: #ff99ff; /* Change color on hover */
}



/* Styling for the drawer container */
.drawer-container {
  position: relative;
  margin-top: 0%;
}

/* Menu button */
.menu-btn {
  font-size: 24px;
  /* padding: 10px; */
  cursor: pointer;
  border: none;
  background: none;
  margin: 20px;
  transition: 'background-color 0.3s ease',

}

/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar.open {
  left: 0; /* When open, it slides in from the left */
}

/* Sidebar links */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 16px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  /* display: block; */
  cursor: pointer; /* Added cursor pointer to indicate clickable items */

}

.sidebar ul li a:hover {
  background-color: #575757;
}

/* Close button inside the sidebar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

button.close-btn:hover {
  color: black !important; /* Change color on hover */
  background-color: white !important;}



/* Overlay background when sidebar is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}


.link-button {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 1rem; /* Increase font size */
  padding: 10px 20px; /* Increase padding for a bigger button */
}


button.link-button:hover {
  color: black !important; /* Change color on hover */
  background-color: white !important;
}



button.menu-btn:hover {
  color: black !important; /* Change color on hover */
  background-color: transparent !important;
}




.header-btn{
  color: white ;
  background-color: #ff99ff;
  font-size: 1rem;
}

.header-btn.clicked{
  color: black !important ;

}

button.header-btn:hover {
  color: black !important; /* Change color on hover */
  background-color: #ff99ff !important;
}





.menu-list-item {
  font-size: 1.5rem; /* Increase font size */
  padding: 10px; /* Increase padding */
}

.menu-item-icon{
  color: white;
}





.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  margin-right: 10px;
  font-size: 16px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.arrow.up {
  transform: rotate(-135deg);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 150px;
  z-index: 1000;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a,
.dropdown-menu li button {
  text-decoration: none;
  color: #333;
  width: 100%;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu li a:hover,
.dropdown-menu li button:hover {
  background-color: #f5f5f5;
}
